body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #2C3E50;
	color: white;
	font-family: Arial, sans-serif;
}

.container {
	width: 100%;
	max-width: 450px;
}

.card {
	background-color: #34495E;
	border: 1px solid #555;
	padding: 20px;
	border-radius: 12px;
	text-align: center;
	box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

.title {
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 15px;
}

.input-container {
	display: flex;
	gap: 10px;
	width: 100%;
	margin-top: 20px;
}

.input-container input {
	flex: 1;
	padding: 12px;
	background-color: #2C3E50;
	border: 1px solid gray;
	color: white;
	border-radius: 10px;
	font-size: 15px;
}

.input-container input::placeholder {
	color: #aaa;
}

.input-container input:focus {
	outline: none;
	border-color: #2980B9;
	box-shadow: 0 0 5px #2980B9;
}

.input-container button {
	padding: 12px;
	background-color: #6a0dad;
	border: none;
	color: white;
	border-radius: 10px;
	font-weight: bold;
	cursor: pointer;
	transition: 0.3s;
}

.input-container button:hover {
	background-color: #8241d1;
}
.input-container button:active {
	background-color: #53018a;
}

.weather-box {
	margin-top: 25px;
	background-color: #2C3E50;
	border: 1px solid gray;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}

#city-name {
	color: #F1C40F;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 5px;
}

#temperature {
	color: #1ABC9C;
	font-size: 22px;
	font-weight: bold;
}

#description {
	color: #dcdcdc;
	font-style: italic;
	font-size: 18px;
}

.error-text {
	margin-top: 15px;
	color: #ff5c5c;
	font-weight: bold;
	font-size: 18px;
}

.hidden {
	display: none;
}
